.main-content-orders{
    float: left;
    width: 100%;

}
.greenColor{
    color: green;
}

.redColor{
    color: red;
}
.title-head > p{
    margin: 0 0 15px 0;
    line-height: 1.7;
    font-family: "Roboto",sans-serif;
    letter-spacing: 0.25px; 
    color: #333;
    font-size: 16px;
}
.title-head > p .link-name{
    color: #ed1c24;
}
.myOrdersPage{
    margin-top: 20px;
    width: 100vw;
    max-width: 100%;
    
    background-color: rgb(255,255,255);
    box-sizing: border-box;
    /* position: fixed; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    /* left: 0;
    top:0; */
    margin-bottom: 75px;
}

#myOrderHeading{
    text-align: center;
    font: 400 1.2vmax "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgb(255,255,255);
    transition: all 0.5s;
    background-color: rgb(44,44,44);

}
.myOrdersTable{
    background-color: white;

}

.myOrdersTable >div{
    font: 300 1vmax "Roboto";
    color: rgba(0,0,0,0.678);
    border: none;
}
.myOrdersTable a{
    color: rgba(0,0,0,0.527);
    transition: all 0.5s;
}

.myOrdersTable a:hover{
    color: #0089ff;
}


.MuiDataGrid-columnHeader{
    padding: 1vmax !important;
    background-color: #eceeef;
}
.MuiDataGrid-columnHeader div{
    color: #55595c;
    font: 500 1.1vmax "Roboto" !important;
}

.MuiMuiDataGrid-iconSeparator{
    display: none !important;
}